<%= turbo_stream_from [decomp, "stages"] %>
<%= turbo_stream_from [decomp, "participations"] %>
<%= turbo_stream_from [decomp, "estimates"] %>

<%= turbo_frame_tag @decomp do %>
  <%= link_to '⬅ Decay something else', new_decomp_path, class: "btn-rose mr-4" %>
  <div
    class="btn-emerald cursor-pointer mr-4"
    data-controller="clipboard"
    data-action="click->clipboard#copy"
    data-clipboard-contents-to-copy-value="<%= invite_url(@decomp) %>">
    🔗 Invite Others
  </div>
  <%= link_to '🌱 Edit Decomp', edit_decomp_path(@decomp), class: "btn-sky" %>

  <h2 class="text-2xl mt-4">
    Decomposable
  </h2>

  <div class="flex justify-between mt-4">
    <p class="my-5 text-xl">
      <%= decomp.topic %>
    </p>
    <div class="p-4 bg-sky-500 rounded w-1/4 text-center">
      <h3 class="text-xl">Fellow Fungi</h3>
      <%= turbo_frame_tag "participations" do %>
        <%= render decomp.participations %>
      <% end %>
    </div>
  </div>

  <hr class="my-4">

  <div class="flex flex-row justify-around">
    <% decomp.available_story_points.each do |story_point| %>
      <%= form_with(url: decomp_estimates_url(decomp)) do |f| %>
        <%= f.hidden_field(:user_id, value: current_user.id) %>
        <%= f.hidden_field(:story_point, value: story_point) %>
        <%= f.submit(story_point, class: "p-12 rounded bg-gradient-to-b from-emerald-500 to-sky-500 text-3xl cursor-pointer") %>
      <% end %>
    <% end %>
  </div>

  <hr class="my-4">

  <h2 class="text-2xl flex flex-row items-center mb-4">
    <span class="mr-4">Deliberation</span>
    <%= button_to "Toggle Estimates", toggle_decomp_estimates_path(decomp), method: :get, class: "btn-emerald mr-4 text-sm" %>
    <%= button_to 'Clear Estimates', clear_decomp_estimates_path(decomp), method: :delete, class: "btn-rose mr-4 text-sm" %>
  </h2>

  <%= turbo_frame_tag "estimates" do %>
    <%= render EstimatesComponent.new(decomp:) %>
  <% end %>

  <hr class="my-4">

  <h2 class="text-2xl">
    The Breakdown
  </h2>

  <%= turbo_frame_tag "stages" do %>
    <%= render decomp.stages %>
  <% end %>

  <%= turbo_frame_tag "new_stage" do %>
    <%= link_to "Decompose more", new_decomp_stage_path(decomp), class: "mt-4 btn-sky" %>
  <% end %>

  <%= turbo_frame_tag "stages" %>
<% end %>
