<%= form_with(model: decomp, class: "contents") do |form| %>
  <% if decomp.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(decomp.errors.count, "error") %> prohibited this decomp from being saved:</h2>

      <ul>
        <% decomp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :topic %>
    <%= form.text_area :topic, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-sky cursor-pointer" %>
  </div>
<% end %>
