<%= turbo_frame_tag "new_stage" do %>
  <%= form_with(model: stage, url: decomp_stages_path, class: "contents") do |form| %>
    <% if stage.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

        <ul>
          <% stage.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Decompose", class: "btn-amber" %>
    </div>
  <% end %>
<% end %>
