<!DOCTYPE html>
<html>
  <head>
    <title>Decompery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-sky-900 text-zinc-200 flex flex-col justify-between h-screen">
    <header class="m-8 text-center md:grid md:grid-cols-4">
      <div>
        <% if notice.present? %>
          <%= render NotificationComponent.new(description: notice) %>
        <% elsif session[:last_decomp_id].present? %>
          <%= render NotificationComponent.new(description: "🍄 Looks like you're currently decomposing. Jump back in?", path: decomp_path(session[:last_decomp_id])) %>
        <% end %>
      </div>
      <div class="mb-4 md:mb-0 md:col-span-2">
        <h1 class="uppercase"><span class="text-4xl">De</span><span class="text-3xl">co</span><span class="text-xl">mp</span><span class="text-base">ery</span></h1>
        <h2 class="text-lg">Opinionated sprint tools for nimble teams.</h2>
      </div>
      <%= render UserInfoComponent.new(user: current_user) %>
    </header>
    <main class="container mx-auto mt-6 mb-auto flex flex-col">
      <%= yield %>
    </main>
    <footer class="text-center my-4">
      Decomposed with 🍄 by <a href="https://maxveld.ink" class="text-emerald-400" target="_blank">Max VelDink</a> in Central Florida. Consider <a href="https://ko-fi.com/W7W563B5T" class="text-emerald-400" target="_blank">buying me a coffee</a>.
    </footer>
  </body>
</html>
